/* src/components/LandingPage.css */
.landing-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10vh;
  height: 100vh;
  background: linear-gradient(135deg, #6623ae, #126ca3);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite, fadeIn 1.5s ease-in-out; /* Combine animations */
}

/* Gradient Background Animation */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.landing-content {
  text-align: center;
  color: #6623ae;
  animation: slideDown 2.5s ease-in-out;
  margin: auto; /* Center the content */
}

/* Enhance Title Animation */
.animated-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #61dafb;
  margin-bottom: 10px;
  animation: zoomIn 2s ease-in-out;
}

/* Subtitle Animation */
.animated-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #b11981;
  margin-bottom: 40px;
  animation: fadeInText 3s ease-in-out 1s; /* Add delay for smooth sequence */
}

/* Enhanced Button */
.start-button {
  background-color: #61dafb;
  color: #ffffff;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  appearance: none;
  position: relative;
  overflow: hidden;
}

/* Ripple Effect on Button Hover */
.start-button::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.15);
  transition: width 0.3s ease, height 0.3s ease, left 0.3s ease, top 0.3s ease;
  border-radius: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.start-button:hover::before {
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
}

.start-button:hover {
  background-color: #21a1f1;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(33, 161, 241, 0.5);
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

/* New Zoom In Animation for Title */
@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .landing-container {
    align-items: center; /* Center items vertically on smaller screens */
    padding-bottom: 0;
  }

  .animated-title {
    font-size: 1.5em; /* Smaller font size for titles on mobile */
  }

  .animated-subtitle {
    font-size: 1em; /* Adjust subtitle size */
  }
}



